---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {
background-color: url('../chrome/resim.jpg');
background-image:none

}

